/* style.css */

* {
    box-sizing: border-box;
}
.disp-area {
    border: 2px black solid;
    font-family: "Lucida Console", "Courier New", monospace; 
    font-size: 25px;
    height: 3rem;
    width: 20ch;
    padding: 8px;
    margin: 8px;
    display: flex;
    justify-content: right;
    align-items: center;
    /* box-sizing: inherit; */
}

.buttons {
    border: 2px black solid;
    background-color: black;
    /* font-size: 1rem; */
    margin: 8px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    /* box-sizing: inherit; */
}

.row {
    display: flex;
    flex: 1;
    /* justify-content: space-around; */
    /* box-sizing: inherit; */
}

#all-clear,
#zero {
    /* width: min-content; */
    flex: 1 1 160px;
    /* box-sizing: inherit; */
}

button {
    /* height: 50px; */
    /* width: 50px; */
    font-size: 2rem;
    vertical-align: top;
    border-radius: 8px;
    /* box-sizing: inherit; */
    padding: 0;
    flex: 1 1 80px;
}

.operators {
    background-color: lightblue;
}

.numbers {
    background-color: lightyellow;
}
.active {
    color: white;
    background-color: black;
}