/* style.css */

.disp-area {
    border: 2px black solid;
    height: 2rem;
    width: 20rem;
    padding: 8px;
    margin: 8px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.buttons {
    border: 2px black solid;
    display: flex;
    flex-direction: column;
}

button {
    height: 50px;
    width: 50px;
    vertical-align: top;
}