/* style.css */

.disp-area {
    border: 2px black solid;
    font-family: "Lucida Console", "Courier New", monospace; 
    font-size: 25px;
    height: 3rem;
    width: 20ch;
    padding: 8px;
    margin: 8px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.buttons {
    border: 2px black solid;
    font-size: 25px;
    margin: 8px;
    width: 316px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: auto;
}

button {
    /* height: 50px; */
    /* width: 50px; */
    font-size: 25px;
    vertical-align: top;
    flex: 1;
}

.active {
    color: white;
    background-color: black;
}